* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #141414;
  font-family: "Inter", sans-serif;
  font-size: 13px;
}

figure {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  margin-top: 1rem;
}
img {
  width: 30%;
  border-radius: 50%;
  margin: auto;
}
h2,
h5,
p {
  text-align: center;
}
h5 {
  margin-bottom: 1rem;
  color: #b4cd5d;
}
h2,
p {
  color: white;
}
.input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-inline: 2rem;
  margin-block-start: 1rem;
  margin-block-end: 2rem;
}
button {
  padding: 0.5rem;
  padding-block: 0.7rem;
  border-radius: 10px;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  background-color: #333333;
  color: white;
  border: none;
}
button:hover {
  background-color: #c4f82a;
  color: black;
  cursor: pointer;
}
